.boxes {
  opacity: 0;
  height: 130px;
  width: 130px;
  background: rgb(67, 79, 213);
  margin: 10px;
  animation: cardBuildIn .7s;
  animation-fill-mode: both;
}

#title{
  font-size: 40px;
  color: rgb(22, 18, 82);
  animation: cardBuildIn .7s;
  animation-fill-mode: both;
}

#place1 {
  display: flex;
  flex-flow: row wrap;
}

#place2 {
  display: flex;
  flex-flow: row wrap;
}

#place3 {
  display: flex;
  flex-flow: row wrap;
}

.cardOver {
  animation: cardOverAnim .7s;
  animation-fill-mode: both;
}

.cardOut {
  animation: cardOutAnim .7s;
  animation-fill-mode: both;
}

.mm{
  background: url("image0.jpeg");
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  margin: 10px;
  
}

@keyframes cardBuildIn {
  from {
    opacity: 0;
    transform: scale(.2) rotateZ(180deg) rotateX(180deg);
  }
  to {
    opacity: 1;
  }
}

@keyframes cardOverAnim {
  to {
    opacity: 1;
    background-color: rgb(25, 43, 145);
    transform: scale(1.25);
  }
}

@keyframes cardOutAnim {
  from {
    opacity: 1;
    transform: scale(1.25);
    background-color:rgb(67, 79, 213);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
    background-color:rgb(67, 79, 213);
  }
}